/* ------------ Reset Font Family ------------ */
.mac,
.windows,
.linux {
	font-feature-settings: 'calt' 1, 'liga' 1, 'ss01' 1, 'ss02' 1, 'ss03' 1,
		'ss04' 1, 'ss05' 1, 'ss06' 1, 'ss07' 1, 'ss08' 1, 'ss09' 1;
	border-radius: 12px !important;
	display:flexbox;
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
	max-width: none !important;
}

/* ------------ Scroll Bar ------------ */
.slider {
	position: absolute !important;
	margin-right: 1px !important;
	margin-left: 1px !important;
	width: 50% !important;
	background: #bc9abc !important;
}

/* Editor tab */
.monaco-workbench .part.editor>.content .editor-group-container {
	padding: 2px !important;
	margin: 2px !important;
	border-radius: 12px !important;
	border: 2px solid transparent;
}

/* Active Tab Highlight */
.monaco-workbench .part.editor>.content .editor-group-container.active {
	border-top: 3px solid #8bd5ca;
}

/* File Path Subtext  */
.monaco-workbench .part.editor>.content .editor-group-container>.title>.label-container>.title-label>.monaco-icon-label>.monaco-icon-label-container>.monaco-icon-description-container>.label-description {
	display:hidden;
}

.monaco-workbench .part>.content>.composite {
	box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/* Editor Actions */
.monaco-action-bar .actions-container {
	align-items: center;
	justify-content: center;
	display: flex;
	margin-top: 6px;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* Editor Title */
.monaco-workbench .part.editor>.content .editor-group-container>.title {
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	justify-self: anchor-center !important;
	height: 2rem !important;
	border-radius: 8px !important;
	color: #89b4fa !important;
	text-decoration-color: #89b4fa !important;
	text-align: left !important;
	max-width:33%;
}

/* Panel Title */
.monaco-workbench .part>.composite.header-or-footer,
.monaco-workbench .part>.composite.title {
	margin-top: 0.75rem;
	margin-bottom: .25rem;
	border-radius: 4px;
	background-color: #363a4f !important;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
		rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	justify-self: center !important;
}

.monaco-workbench .part.panel {
	margin-bottom: 1rem;
}
 
.monaco-workbench .part.editor>.content .editor-group-container>.title.dirty {
	border-bottom: 0.075rem inset #363a4f !important;
	border-bottom-color: #f5c2e7 !important;
	color: #f5c2e7 !important;
	text-decoration-color: #89b4fa !important;
	background-color: #363a4f !important;
	box-shadow: rgba(33, 33, 62, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* File Icon in Editor Tab */
.monaco-workbench .part.editor>.content .editor-group-container>.title .monaco-icon-label:before {
	max-height: 24px !important;
	max-width: 16px !important;
	margin-bottom: auto !important;
}

/* Editor Content */
.monaco-editor * {
	font-weight: 700;
}

.monaco-editor.no-user-select .lines-content,
.monaco-editor.no-user-select {
	border-radius: 12px !important;
	box-shadow: rgba(33, 33, 62, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box,
		radial-gradient(farthest-corner at var(--x) var(--y),
			#363a4f,
			#b4befe,
			#363a4f,
			#b4befe) border-box;
}

.slider {
	border-radius: 12px !important;
	box-shadow: rgba(33, 33, 62, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box,
		radial-gradient(farthest-corner at var(--x) var(--y),
			#363a4f,
			#b4befe,
			#363a4f,
			#b4befe) border-box;
}

div.margin-view-overlays {
	border-radius: 12px !important;
	box-shadow: rgba(33, 33, 62, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	border: 2px solid transparent;
	background: linear-gradient(#000, #000) padding-box,
		radial-gradient(farthest-corner at var(--x) var(--y),
			#363a4f,
			#b4befe,
			#363a4f,
			#b4befe) border-box;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.45) !important;
	padding: 10px !important;
	background: #1e2030 !important;
	backdrop-filter: blur(3px) !important;
	border-radius: 16px !important;
	border: 1px solid #8bd5ca8a !important;
	outline: 0px !important;
	color: #cad3f5 !important;
}

.monaco-resizable-hover {
	border: 1px solid #8bd5ca8a !important;
}

.monaco-hover code {
	background-color: #363a4f !important;
	border-radius: 4px !important;
	padding: 2px 4px !important;
}

.monaco-hover a {
	color: #8aadf4 !important;
}

.monaco-hover a:hover {
	color: #8bd5ca !important;
	text-decoration: none !important;
}

/* ------------ Title Bar ------------ */

.monaco-workbench .part.titlebar {
	border-bottom: 1px solid #181c20 !important;
}

/* ------------ Command Palette ------------ */
.quick-input-titlebar {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.quick-input-widget {
	top: 25vh !important;
	box-shadow: 0px 16px 32px #363a4f !important;
	padding: 10px 10px 18px 10px !important;
	background: #1e2030 !important;
	backdrop-filter: blur(3px) !important;
	border-radius: 20px !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
	border-radius: 12px !important;
	padding: 10px 10px 18px 10px !important;
	border: 1px solid #8bd5ca8a !important;
	background-color: #363a4f !important;
	margin-bottom: 16px !important;
	color: #cad3f5 !important;
	font-size: 18px !important;
}

#command-blur {
	position: absolute !important;
	border-color: #363a4f !important;
	width: 100% !important;
	height: 100% !important;
	background: rgba(0, 0, 0, 0.15) !important;
	top: 0 !important;
	left: 0 !important;
	backdrop-filter: blur(8px) !important;
}

.quick-input-title {
	background-color: #8bd5ca40 !important;
	border-radius: 8px !important;
	padding: 4px 8px !important;
}

.quick-input-widget.show-file-icons {
	top: 25% !important;
	padding-bottom: 4px !important;
}

.quick-input-list {
	padding: 0px 2px 0px 2px !important;
	margin-top: 0 !important;
}

.quick-input-list [class^='monaco-list list_id'] .monaco-list-rows {
	background: var(--vscode-quickInput-background) !important;
}

.quick-input-list .monaco-list:not(.drop-target):not(.dragging) .monaco-list-row:hover:not(.selected):not(.focused) {
	background-color: var(--vscode-quickInputList-focusBackground) !important;
}

.quickOpen.quickOpenWidget {
	top: 25vh !important;
}

.quick-input-list [class^='monaco-list list_id'] .monaco-list-row.focused {
	background-color: var(--vscode-quickInputList-focusBackground) !important;
}

.quick-input-list .quick-input-list-entry {
	padding: 0 2px;
	border-top-color: var(--vscode-quickInputList-focusBackground) !important;
}

.monaco-workbench .synthetic-focus {
	outline: var(--vscode-quickInput-background) !important;
}

.quick-input-and-message .monaco-inputbox>.ibwrapper {
	background: var(--vscode-quickInput-background) !important;
	border-color: var(--vscode-quickInput-background) !important;
	border-width: 0 !important;
	width: calc(100% - 3px * 2);
	padding: 3px;
}

.quick-input-and-message .monaco-inputbox>.ibwrapper>.input {
	border-radius: 8px !important;
	padding: 12px;
	background-color: var(--vscode-quickInput-background) !important;
	border: 1px solid var(--vscode-quickInputList-focusBackground);
	margin-top: -3px;
}

.quick-input-list .monaco-list-row {
	border-radius: 4px;
}

.quick-input-list .quick-input-list-entry-action-bar .action-label.codicon {
	margin-right: 0;
}

.quick-input-action {
	display: flex;
	align-items: center;
	margin-left: 2px;
}

.quick-input-count {
	right: 14px;
}

/* ------------ Editor Screen ------------ */
.monaco-editor .peekview-widget .head .peekview-title {
	flex: 5 !important;
}

.line-numbers {
	transform: scale(1);
	transition: all 10 linear;
}

.line-numbers.active-line-number {
	transform: scale(1.25) translateX(-2px);
	animation: 0.2s ease-out scaleSize;
}

@keyframes scaleSize {
	0% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1.35) translateX(-2px);
	}
}

#bg-blur {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(6px);
	transition: all 1s ease-in;
}

/* ------------ Terminal ------------ */
.monaco-workbench .pane-body.integrated-terminal .terminal-tabs-entry.is-active:before {
	display: block;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
}

/* ------------ Welcome Screen ------------ */
.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-watermark {
	max-width: 100% !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.editor-group-watermark .shortcuts {
	display: none;
}
